body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.controls {
  margin-bottom: 20px;
}

.controls input {
  padding: 10px;
  margin: 10px 5px;
  width: calc(33% - 10px);
  box-sizing: border-box;
}

.controls button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.controls button:hover {
  background-color: #0056b3;
}

.directory pre {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
}


.status-box pre {
  min-height: 50px;
  background: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-family: 'Courier New', monospace;
}
